<?xml version='1.0' encoding='utf-8'?>
<robot name="ar5_o6_left">
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0" />
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0" />
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0" />
  </material>
  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0" />
  </material>
  <material name="orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0" />
  </material>
  <material name="brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0" />
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0" />
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0" />
  </material>
  <material name="silver">
    <color rgba="0.5 0.5 0.52 1.0" />
  </material>
  <material name="BlackAccent">
    <color rgba="0.05 0.05 0.05 1.0" />
  </material>
  <material name="Beige">
    <color rgba="1.0 0.784 0.5765 1.0" />
  </material>
  <link name="world">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
    </collision>
  </link>
  <joint name="fixed" type="fixed">
    <parent link="world" />
    <child link="AR5_5_07L_W4C4A2_base" />
  </joint>
  <link name="AR5_5_07L_W4C4A2_base">
    <visual>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
      <material name="white" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    </collision>
  </link>
  <joint name="AR5_5_07L_W4C4A2_joint_1" type="revolute">
    <parent link="AR5_5_07L_W4C4A2_base" />
    <child link="AR5_5_07L_W4C4A2_link1" />
    <limit effort="108" lower="-3.1067" upper="3.1067" velocity="3.0543261909900763" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
  </joint>
  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5_5_07L_W4C4A2_joint_8">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link name="AR5_5_07L_W4C4A2_link1">
    <visual>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link1.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="2.683" />
      <inertia ixx="0.00493673" ixy="0.00000160" ixz="0.00000198" iyy="0.00452344" iyz="-0.00000020" izz="0.00432910" />
      <origin rpy="0 0 0" xyz="1e-06 -0.000621 0.167909" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link1.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="AR5_5_07L_W4C4A2_joint_2" type="revolute">
    <parent link="AR5_5_07L_W4C4A2_link1" />
    <child link="AR5_5_07L_W4C4A2_link2" />
    <limit effort="108" lower="-2.0944" upper="2.0944" velocity="3.0543261909900763" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.1745" />
  </joint>
  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link name="AR5_5_07L_W4C4A2_link2">
    <visual>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link2.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="2.3" />
      <inertia ixx="0.01151906" ixy="0.00000246" ixz="-0.00000055" iyy="0.00993335" iyz="0.00082477" izz="0.00435237" />
      <origin rpy="0 0 0" xyz="-2e-05 -0.003081 0.10298600000000001" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link2.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0" />
    </collision>
  </link>
  <joint name="AR5_5_07L_W4C4A2_joint_3" type="revolute">
    <parent link="AR5_5_07L_W4C4A2_link2" />
    <child link="AR5_5_07L_W4C4A2_link3" />
    <limit effort="66" lower="-3.1067" upper="3.1067" velocity="4.71238898038469" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.314" />
  </joint>
  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link name="AR5_5_07L_W4C4A2_link3">
    <visual>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link3.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="1.862" />
      <inertia ixx="0.00519681" ixy="0.00001208" ixz="0.00035761" iyy="0.00470446" iyz="0.00003430" izz="0.00266752" />
      <origin rpy="0 0 0" xyz="0.007097 -0.0006590000000000001 -0.016530999999999997" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link3.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="AR5_5_07L_W4C4A2_joint_4" type="revolute">
    <parent link="AR5_5_07L_W4C4A2_link3" />
    <child link="AR5_5_07L_W4C4A2_link4" />
    <limit effort="66" lower="-1.0472" upper="2.5307" velocity="5.235987755982989" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.01 0.0 0.0" />
  </joint>
  <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link name="AR5_5_07L_W4C4A2_link4">
    <visual>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link4.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="1.234" />
      <inertia ixx="0.00389590" ixy="-0.00004577" ixz="-0.00017280" iyy="0.00308657" iyz="0.00046679" izz="0.00188364" />
      <origin rpy="0 0 0" xyz="-0.007826 -0.004207 0.073404" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link4.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    </collision>
  </link>
  <joint name="AR5_5_07L_W4C4A2_joint_5" type="revolute">
    <parent link="AR5_5_07L_W4C4A2_link4" />
    <child link="AR5_5_07L_W4C4A2_link5" />
    <limit effort="19" lower="-3.1067" upper="3.1067" velocity="4.1887902047863905" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="-0.01 0.0 0.272" />
  </joint>
  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link name="AR5_5_07L_W4C4A2_link5">
    <visual>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link5.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="1.329" />
      <inertia ixx="0.00281562" ixy="0.00001782" ixz="0.00001650" iyy="0.00221084" iyz="0.00002100" izz="0.00182169" />
      <origin rpy="0 0 0" xyz="0.00028399999999999996 0.0016510000000000001 -0.084133" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link5.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="AR5_5_07L_W4C4A2_joint_6" type="revolute">
    <parent link="AR5_5_07L_W4C4A2_link5" />
    <child link="AR5_5_07L_W4C4A2_link6" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="0 1 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
  </joint>
  <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link name="AR5_5_07L_W4C4A2_link6">
    <visual>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link6.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="0.93" />
      <inertia ixx="0.00072078" ixy="-0.00000217" ixz="0.00000108" iyy="0.00085153" iyz="0.00000048" izz="0.00090205" />
      <origin rpy="0 0 0" xyz="0.005405999999999999 0.000612 -3.9e-05" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link6.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>
  <joint name="AR5_5_07L_W4C4A2_joint_7" type="revolute">
    <parent link="AR5_5_07L_W4C4A2_link6" />
    <child link="AR5_5_07L_W4C4A2_link7" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="1 0 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
  </joint>
  <transmission name="tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link name="AR5_5_07L_W4C4A2_link7">
    <visual>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link7.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
      <material name="white" />
    </visual>
    <inertial>
      <mass value="0.33" />
      <inertia ixx="0.00051942" ixy="-0.00000052" ixz="0.00003721" iyy="0.00079132" iyz="0.00000265" izz="0.00045886" />
      <origin rpy="0 0 0" xyz="-0.00277 0.000316 0.054881" />
    </inertial>
    <collision>
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/AR5_left_meshes/AR5_5_07L_W4C4A2_link7.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    </collision>
  </link>
  <link name="AR5_5_07L_W4C4A2_tcp">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0001 0.0001 0.0001" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  <joint name="AR5_5_07L_W4C4A2_tcp_joint" type="fixed">
    <parent link="AR5_5_07L_W4C4A2_link7" />
    <child link="AR5_5_07L_W4C4A2_tcp" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.097" />
  </joint>
  <transmission name="trans_thumb_cmc_roll">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lh_thumb_cmc_roll">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_thumb_cmc_roll">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>0.0084</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans_index_mcp_pitch">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lh_index_mcp_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_index_mcp_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>0.0082</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans_middle_mcp_pitch">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lh_middle_mcp_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_middle_mcp_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>0.0082</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans_ring_mcp_pitch">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lh_ring_mcp_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_ring_mcp_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>0.0082</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans_pinky_mcp_pitch">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lh_pinky_mcp_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_pinky_mcp_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>0.0082</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans_thumb_cmc_pitch">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lh_thumb_cmc_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_thumb_cmc_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>0.0144</mechanicalReduction>
    </actuator>
  </transmission>
  <mujoco>
    <compiler meshdir="L6_left_meshes/" balanceinertia="true" discardvisual="false" />
    <default>
      <joint armature="3.4707e-08" damping="5.0" frictionloss="0.5" />
    </default>
    <equality>
      <joint name="lh_couple_index" joint1="lh_index_dip" joint2="lh_index_mcp_pitch" polycoef="0 1.125676 0 0 0 0" />
      <joint name="lh_couple_middle" joint1="lh_middle_dip" joint2="lh_middle_mcp_pitch" polycoef="0 1.125676 0 0 0 0" />
      <joint name="lh_couple_ring" joint1="lh_ring_dip" joint2="lh_ring_mcp_pitch" polycoef="0 1.125676 0 0 0 0" />
      <joint name="lh_couple_pinky" joint1="lh_pinky_dip" joint2="lh_pinky_mcp_pitch" polycoef="0 1.125676 0 0 0 0" />
      <joint name="lh_couple_thumb" joint1="lh_thumb_dip" joint2="lh_thumb_cmc_pitch" polycoef="0 1.226495 0 0 0 0" />
    </equality>
  </mujoco>
  <gazebo reference="lh_hand_base_link">
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="lh_thumb_distal">
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="lh_index_distal">
    <mu1>1.1</mu1>
    <mu2>1.1</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="lh_middle_distal">
    <mu1>1.1</mu1>
    <mu2>1.1</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="lh_ring_distal">
    <mu1>1.1</mu1>
    <mu2>1.1</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="lh_pinky_distal">
    <mu1>1.1</mu1>
    <mu2>1.1</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>
  <joint name="rk_adapter_joint" type="fixed">
    <parent link="AR5_5_07L_W4C4A2_tcp" />
    <child link="lh_rk_adapter" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="lh_rk_adapter">
    <visual>
      <origin xyz="-0.0315 0.0315 0" rpy="1.5708 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/adapter/rk_adapter.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="dark_grey">
        <color rgba="0.15 0.15 0.17 1.0" />
      </material>
    </visual>
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  <link name="lh_hand_base_link">
    <inertial>
      <origin xyz="-0.00157788568070457 -0.00034876725935859 0.0538452219801211" rpy="0 0 0" />
      <mass value="0.0672935238166485" />
      <inertia ixx="5.22525212160954E-05" ixy="3.06955729584715E-07" ixz="-3.90341166950521E-07" iyy="3.33522349207724E-05" iyz="-7.76680063574627E-07" izz="2.28469461105385E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/hand_base_link.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_thumb_metacarpals_base2">
    <inertial>
      <origin xyz="0.00162800681276937 -0.0027668017246415 -0.00184234438641236" rpy="0 0 0" />
      <mass value="0.00138588296544333" />
      <inertia ixx="5.26292160685909E-08" ixy="-3.92888681640568E-09" ixz="-2.43767371295222E-09" iyy="4.82620491570326E-08" iyz="3.71869784206147E-09" izz="2.88550286112821E-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/thumb_metacarpals_base2.STL" />
      </geometry>
      <material name="BlackAccent" />
    </visual>
    </link>
  <link name="lh_thumb_metacarpals">
    <inertial>
      <origin xyz="4.24816204999817E-05 1.74183907812875E-05 0.0228341640631254" rpy="0 0 0" />
      <mass value="0.0123381586619931" />
      <inertia ixx="1.10292537368909E-06" ixy="-5.99642232777877E-10" ixz="-1.14233573940545E-07" iyy="1.76757772551884E-06" iyz="-4.03963570823777E-10" izz="9.36347792411098E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/thumb_metacarpals.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_thumb_distal">
    <inertial>
      <origin xyz="-0.00413725702921841 -5.90704520436747E-08 0.023011401589736" rpy="0 0 0" />
      <mass value="0.00763332957284057" />
      <inertia ixx="1.3057487813702E-06" ixy="-1.19781508112714E-11" ixz="-7.19551697268541E-08" iyy="1.2248908905341E-06" iyz="4.55347974652679E-12" izz="2.77271910592615E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/thumb_distal.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_index_proximal">
    <inertial>
      <origin xyz="-0.00208656556336452 2.53838713251686E-06 0.0172734941980264" rpy="0 0 0" />
      <mass value="0.00253174651934627" />
      <inertia ixx="2.65988714157799E-07" ixy="-1.67174578825824E-11" ixz="-4.31047725546034E-08" iyy="2.72914069166233E-07" iyz="1.8756709532167E-10" izz="8.56017305636748E-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/index_proximal.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_index_distal">
    <inertial>
      <origin xyz="0.00658986616416549 5.13855642059191E-06 0.0194393600039178" rpy="0 0 0" />
      <mass value="0.00376951085886838" />
      <inertia ixx="3.22347106085043E-07" ixy="1.3801788663582E-11" ixz="1.14352857317951E-07" iyy="3.65328133721509E-07" iyz="-2.11505011705634E-10" izz="1.24287996386442E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/index_distal.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_middle_proximal">
    <inertial>
      <origin xyz="-0.00208660654138235 2.56918180119303E-06 0.0172735011723351" rpy="0 0 0" />
      <mass value="0.00253177375206983" />
      <inertia ixx="2.65989021304483E-07" ixy="-1.69816046635662E-11" ixz="-4.31046683215273E-08" iyy="2.72914402745606E-07" iyz="1.87484652324395E-10" izz="8.5602213431865E-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/middle_proximal.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_middle_distal">
    <inertial>
      <origin xyz="0.00658986516319194 5.10862924271716E-06 0.0194393315699782" rpy="0 0 0" />
      <mass value="0.00376952789210256" />
      <inertia ixx="3.22348591068053E-07" ixy="1.37122394856588E-11" ixz="1.1435291391668E-07" iyy="3.65329535087755E-07" iyz="-2.10453810291991E-10" izz="1.24288425862546E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/middle_distal.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_ring_proximal">
    <inertial>
      <origin xyz="-0.00208667931345812 2.63000419462034E-06 0.0172734926448377" rpy="0 0 0" />
      <mass value="0.00253182223645066" />
      <inertia ixx="2.65989756076584E-07" ixy="-1.74912952703656E-11" ixz="-4.31043325594253E-08" iyy="2.7291510093393E-07" iyz="1.87158326740895E-10" izz="8.56031522765909E-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/ring_proximal.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_ring_distal">
    <inertial>
      <origin xyz="0.00658986648895491 5.05883528165163E-06 0.019439397215532" rpy="0 0 0" />
      <mass value="0.00376949588316609" />
      <inertia ixx="3.2234524157181E-07" ixy="1.35766976056011E-11" ixz="1.14353011012842E-07" iyy="3.65326570102147E-07" iyz="-2.08672149138738E-10" izz="1.24287770218135E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/ring_distal.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_pinky_proximal">
    <inertial>
      <origin xyz="-0.00208673599799501 2.68062251165824E-06 0.0172734848131236" rpy="0 0 0" />
      <mass value="0.00253185993162408" />
      <inertia ixx="2.6599033687183E-07" ixy="-1.79030790016555E-11" ixz="-4.31040829565781E-08" iyy="2.72915617381577E-07" iyz="1.86906787420486E-10" izz="8.56039175034871E-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/pinky_proximal.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <link name="lh_pinky_distal">
    <inertial>
      <origin xyz="0.00658987588903027 5.03087534178825E-06 0.0194394491065091" rpy="0 0 0" />
      <mass value="0.00376948071276134" />
      <inertia ixx="3.22343583730488E-07" ixy="1.35768173270357E-11" ixz="1.14353289593012E-07" iyy="3.65325180884183E-07" iyz="-2.0744198062439E-10" izz="1.24287567374229E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///media/omen/88D2C6C4D2C6B5AA/TianjinUniversity/research/simulation/assets/robots/ar5_l6/urdf/left/meshes/pinky_distal.STL" />
      </geometry>
      <material name="silver" />
    </visual>
    </link>
  <joint name="lh_thumb_cmc_yaw" type="revolute">
    <origin xyz="0.011508 -0.022975 0.032794" rpy="0 0 0" />
    <parent link="lh_hand_base_link" />
    <child link="lh_thumb_metacarpals_base2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="100" velocity="1" />
  </joint>
  <joint name="lh_thumb_cmc_pitch" type="revolute">
    <origin xyz="0.0061649 -0.010678 -0.004891" rpy="0 -1.1529 2.0944" />
    <parent link="lh_thumb_metacarpals_base2" />
    <child link="lh_thumb_metacarpals" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0.58" effort="100" velocity="1" />
  </joint>
  <joint name="lh_thumb_ip" type="revolute">
    <origin xyz="0.0037776 0 0.045368" rpy="0 0 0" />
    <parent link="lh_thumb_metacarpals" />
    <child link="lh_thumb_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.08" effort="100" velocity="1" />
    <mimic joint="lh_thumb_cmc_pitch" multiplier="2.29" offset="0" />
  </joint>
  <joint name="lh_index_mcp_pitch" type="revolute">
    <origin xyz="0.0024758 -0.02419 0.098779" rpy="0.05236 0 0" />
    <parent link="lh_hand_base_link" />
    <child link="lh_index_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="lh_index_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="lh_index_proximal" />
    <child link="lh_index_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="lh_index_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="lh_middle_mcp_pitch" type="revolute">
    <origin xyz="0.00052576 -0.00634 0.1027" rpy="0 0 0" />
    <parent link="lh_hand_base_link" />
    <child link="lh_middle_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="lh_middle_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="lh_middle_proximal" />
    <child link="lh_middle_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="lh_middle_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="lh_ring_mcp_pitch" type="revolute">
    <origin xyz="0.0010258 0.011135 0.098767" rpy="-0.05236 0 0" />
    <parent link="lh_hand_base_link" />
    <child link="lh_ring_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="lh_ring_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="lh_ring_proximal" />
    <child link="lh_ring_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="lh_ring_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="lh_pinky_mcp_pitch" type="revolute">
    <origin xyz="0.0024758 0.028372 0.092741" rpy="-0.087266 0 0" />
    <parent link="lh_hand_base_link" />
    <child link="lh_pinky_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="lh_pinky_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="lh_pinky_proximal" />
    <child link="lh_pinky_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="lh_pinky_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="hand_mount_joint" type="fixed">
    <parent link="lh_rk_adapter" />
    <child link="lh_hand_base_link" />
    <origin xyz="0 0 0.0215" rpy="0 0 1.5708" />
  </joint>
</robot>